{%extends 'base.html' %}
{%block title%}Collection{%endblock%}
{% load crispy_forms_tags %}

{%block content%}
    
<div class="container">
    <form method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
	    {% csrf_token %}
	    <div class="form-group" style="margin-bottom: 5px;">
            <label for="formFile" class="form-label mt-4">Importer un fichier xlsx pour ajouter une nouvelle collection</label>
            <input class="form-control" type="file" id="formFile" name="myfile" required>
        </div>
	    <button type="submit" class="btn btn-success">Upload</button>
	</form>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form|crispy}}
<input type="submit" class="btn btn-primary" value="Enregistrer" style="margin-top: 20px;">
</form>
</div>


{%endblock%}