{%extends 'base.html' %}
{%block title%}Magasins{%endblock%}
{%block content%}
{% load bootstrap_icons %}

<div class="container">
<a href="{% url 'newMagasin' %}" class="btn btn-outline-secondary" style="margin-top: 10px; margin-bottom: 10px;">Ajouter un magasin</a>
<a href="{% url 'associationMgasinDepot' %}" class="btn btn-outline-secondary" style="margin-top: 10px; margin-bottom: 10px;">Lier un magasin avec un dépot</a>
<div class="row">
<div class="col-12">
  <a href="{% url 'exportMagasins' %}" class="btn btn-success">Export to xls</a>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Libelle</th>
      <th scope="col">Quantité en stock</th>
      <th scope="col">Adresse</th>
      <th scope="col">N° tel</th>
      <th scope="col">FAX</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
  </thead>
  <tbody>
  {% for magasin in magasins %}
    <tr class="table-active">
      <td>{{magasin.id}}</td>
      <td>{{magasin.Libelle}}</td>
      <td>{{magasin.qte}}</td>
      <td>{{magasin.Adresse}}</td>
      <td>{{magasin.Tel}}</td>
      <td>{{magasin.Fax}}</td>
      <td>{{magasin.Email}}</td>
      <td>
        <a href="{% url 'magasinUpdate' magasin.id%}">{% bs_icon 'pencil-fill' size='1.5em' %}</a>
        <a href="{% url 'magasinDelete' magasin.id%}">{% bs_icon 'trash-fill' size='1.5em' %}</a>
      </td> 
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</div>
</div>

{%endblock%}